/* ====== RESET & DASAR ====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #ffc927, #202020);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* ====== CARD LOGIN ====== */
.login-container {
    background-color: #000000;
    width: 100%;
    max-width: 400px;
    padding: 2.5rem;
    border-radius: 16px;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.login-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}

.login-logo img {
    width: 60px;
    height: auto;
    margin-bottom: 10px;
}

.login-logo h2 {
    color: #FFD500;
    font-weight: 700;
    letter-spacing: 1px;
}

/* ====== FORM ====== */
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    font-weight: 600;
    color: #adadad;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

input {
    font-family: 'Poppins', sans-serif;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1.5px solid #ccc;
    outline: none;
    font-size: 1rem;
    transition: border 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
}

input:focus {
    border-color: #FFD500;
    box-shadow: 0 0 8px rgba(255, 213, 0, 0.5);
}

.btn-login {
    font-family: 'Poppins', sans-serif;
    background-color: #FFD500;
    color: #000;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-login:hover {
    background-color: #000;
    color: #FFD500;
    box-shadow: 0 0 10px rgba(255, 213, 0, 0.6);
}

.btn-kembali {
    display: block;
    text-align: center;
    margin-top: 12px;
    padding: 10px;
    background-color: #FFD500;
    color: #000;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
    transition: 0.2s;
}

.btn-kembali:hover {
    background-color: #000;
    color: #FFD500;
    box-shadow: 0 0 10px rgba(255, 213, 0, 0.6);
}


/* ====== RESPONSIVE ====== */
@media (max-width: 480px) {
    .login-container {
        padding: 2rem 1.5rem;
    }
}
